<div class='admin-homepage'>
  <div class='banner'>
    <h1 class='banner-header text-yellow-light'>
      Welcome Back, (Name Here)
    </h1>
    <h4>Ready to manage Cuisinero users and transactions?
      Begin by checking the reports made</h4>
  </div>
</>