%link(rel="stylesheet" type="text/css" href="users.scss");

.form
  %h1{class:'text-3xl'} Transaction List
  %table
    %thead
      - @appointments.each do |a|
        %tr
          - unless a.payment_released_at.nil?
            %td= "Total Payment of #{payment(a.total_charge)} and charged of #{charged(a.total_charge)} to the chef, #{a.chef.user.username}"