%link(rel="stylesheet" type="text/css" href="users.scss");

.form
  %h1{class:'text-3xl'} Transaction List
  %table
    %thead
      - @appointments.each do |a|
        %tr
          %td= "Total Charge of #{a.total_charge}"