  <%= stylesheet_link_tag "/objects/card.scss"%>
  
  <div class='card-1'>
    <h5 class='card-date'>October 21, 2024</h5>
    <div class='card-body'>
      <div class='card-header'>
        <%= image_tag('avatar.webp', :class => 'card-img')  %>
        <h5 class='card-name'>Kim Romano</h5>
        <span class='card-rating'>Rating</span>
      </div>
      <p class='card-text'>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non felis leo. Fusce sed dolor non ante iaculis bibendum. Proin blandit turpis sit amet aliquet tincidunt. Donec consectetur at tortor in consequat. Cras at mauris vitae lacus lobortis venenatis quis sit amet diam. Etiam eget dignissim mi, quis ultricies neque. Pellentesque sed congue tellus. Mauris vitae tortor tempus, efficitur orci sed, commodo neque."
      </p>
    </div>
  </div>
