<div id='footer'>
  <div class="footer-container">
    <div class="footer-header">
      <span class='footer-logo text-italic'>© 2022 Cuisinero</span>
      <ul class='footer-nav'>
        <li class='footer-link'>About us</li>  
        <li class='footer-link'>FAQ</li>  
        <li class='footer-link'>Contact Us</li>  
      </ul>
    </div>
    <hr>
    <div class='footer-devs'>
      <ul>
        <li class='dev-name'>John Carlo Martinez</li>
        <li class='dev-name'><span class='dot'></span>Julie Mae Villanueva</li>
        <li class='dev-name'>Ralph Sulit</li>
        <li class='dev-name'><span class='dot'></span>Thea Kaylee Libunao</li>
      </ul>
    </div>
    <span class='footer-disclaimer'>This app is created for educational purposes only</span>
  </div>
</div>


