<div id='footer'>
  <div class="footer-container">
    <div class="footer-header">
      <span class='footer-logo'>Cusinero</span>
      <ul class='footer-nav'>
        <li class='footer-link'>About us</li>  
        <li class='footer-link'>FAQ</li>  
        <li class='footer-link'>Contact Us</li>  
      </ul>
    </div>
    <hr>
    <div class='footer-devs'>
      <ul>
        <li>John Carlo Martinez</li>
        <li>Julie Mae Villanueva</li>
        <li>Ralph Sulit</li>
        <li>Thea Kaylee Libunao</li>
      </ul>
    </div>
    <span class='footer-disclaimer'>This app is created for educational purposes only</span>
  </div>
</div>


