- if current_user.user_type == 'Chef' && current_user.id == @chef.user_id
  = render '/profiles/profile_own'
  = render '/galleries/form'
  - @galleries.each do |gallery|
    -if gallery.image.attached?
      = image_tag gallery.image, width: '50px'
- else
  = render '/profiles/profile_public'