<div class='client-homepage'>
  <div class='banner'>
    <h1 class='banner-header text-yellow-light'>
      Welcome Back, <%=@name%>
    </h1>
    <h4>Ready to experience fine dining at home? Begin by finding the perfect chef for you</h4>
  </div>
</>