///////////////////////////////////
///// Colors
/////////////////////////////////// 
$yellow: #ffc425;
$lightYellow: #ffdc7c;
$green: #18b444;
$white: #fdfdfd;
$red: #fc4630;
$black: #484848;
$gray: #afb4bd;

///////////////////////////////////
///// Fonts and typography
/////////////////////////////////// 
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;


