///////////////////////////////////
///// Colors
/////////////////////////////////// 
$yellow: #ffc425;
$lightYellow: #ffdc7c;
$green: #18b444;
$white: #fdfdfd;
$red: #fc4630;
$black: #484848;
$gray: #afb4bd;

///////////////////////////////////
///// Fonts and typography
/////////////////////////////////// 
$poppins: 'Poppins', sans-serif;

$h1: 1.5rem;
$normal-font: .938rem;
$small-font: .625rem;
