///////////////////////////////////
///// Colors
/////////////////////////////////// 
$yellow: #ffc425;
$lightYellow: #ffdc7c;
$green: #18b444;
$white: #fdfdfd;
$red: #fc4630;
$black: #484848;
$black-dark: #242424;
$gray: #afb4bd;

$cuisinero-white: #fdfdfd;
$cuisinero-white-med: #f2f2f2;
$cuisinero-black-dark: #242424;
$cuisinero-black-light: #484848;
$cuisinero-yellow-darker: #faaf12;
$cuisinero-yellow-dark: #ffc425;
$cuisinero-yellow-light: #ffdc7c;
$cuisinero-green: #187a33;
$cuisinero-red: #d9071c;
$cuisinero-blue-grey: #afb4bd;
$cuisinero-grey-dark: #646464;
$cuisinero-grey-med: #949494;
$cuisinero-grey-light: #c4c4c4;

///////////////////////////////////
///// Fonts and typography
/////////////////////////////////// 
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;


