<%= stylesheet_link_tag '' %>

<div id='homepage'>
  <%# Navigation Bar %>
  <div class='container'>
    <div class='nav'>
      Navigation
    </div>
  </div>
  <%# Cards %>
  <div class='card-container'>
    <h3>Because you can travel the world while at home</h3>
    <p>And over 500,000 guests already reserved their tickets!</p>
    
    <%= render 'devise/shared/card' %>
    <%= render 'devise/shared/card' %>
    <%= render 'devise/shared/card' %>
  </div>
</div>



