/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

///////////////////////////////////
///// Imports
/////////////////////////////////// 
@import './objects/variables';

//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap');


///////////////////////////////////
///// General
/////////////////////////////////// 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $poppins;
}

ul li {
  list-style-type: none;
  display: inline-block;
}




///////////////////////////////////
///// Footer
/////////////////////////////////// 
#footer {
  .footer-container {
    color: $white;
    background-color: $black;
    bottom: 0;
    height: 360px;
    position: fixed;
  
  
    .footer-header {
      display: flex;
      width: 100%;
  
        .footer-logo {
          margin: 0 auto;
        }
      
        .footer-nav {
          display: none;
        }
    }
  }
}

