/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

///////////////////////////////////
///// Imports
/////////////////////////////////// 
@import './objects/variables';
@import "materialize";

// HTML Elements

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  width: 100%;
  //height: 100vh;
  flex-direction: column;
  color: $cuisinero-black-dark;
  font-family: $lato !important;
}

main {
  flex: 1 0 auto;
}


h3 {
  margin-bottom: 15px;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1.3px;
}

p {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

.dot {
  height: 4px;
  width: 4px;
  background-color: $cuisinero-yellow-light;
  border-radius: 50%;
  display: inline-block;
  margin: 4px 3px;
}

// Text Color
.text-white {
  color: $cuisinero-white;
}

.text-yellow-dark {
  color: $cuisinero-yellow-dark;
}


.text-yellow-light {
  color: $cuisinero-yellow-light;
}

.text-black-dark {
  color: $cuisinero-black-dark;
}


.text-black-light {
  color: $cuisinero-black-light;
}

.text-green {
  color: $cuisinero-green !important;
}

.text-red {
  color: $cuisinero-red !important;
}

// Text Style

.text-bold {
  font-weight: bold !important;
}

.text-bolder {
  font-weight: bolder;
}

.text-italic {
  font-style: italic;
}

.text-space-sm {
  letter-spacing: calc(0.25vw);
}

// Button Colors

.btn-yellow-dark {
  background-color: $cuisinero-yellow-dark;
  color: $cuisinero-white !important;
  text-transform: capitalize;
  font-size: 20px;

  &:hover {
    background-color: #FAAF12;
    transition: background-color .2s ease-out;
  }
}

.btn-black-dark {
  background-color: $cuisinero-black-dark;
  color: $cuisinero-white !important;
  text-transform: capitalize;
  font-size: 20px;
    &:hover {
      background-color: $cuisinero-black-light;
      transition: background-color .2s ease-out;
    }
}

.btn-green {
  background-color: $cuisinero-green;
  color: $cuisinero-white;
  //text-transform: capitalize;
  font-size: 20px;
    &:hover {
      background-color: #1D8F46;
      transition: background-color .2s ease-out;
    }
}

.btn-red {
  background-color: $cuisinero-red;
  color: $cuisinero-white;
  //text-transform: capitalize;
  font-size: 20px;
    &:hover {
      background-color: #DB2739;
      transition: background-color .2s ease-out;
    }
}

///////////////////////////////////
///// Cards
///////////////////////////////////
.card-container-1 {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

    h3 {
      font-size: 1.8rem;
      font-weight: 700;
      width: 100%;
    }
}

.card-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 20px;

  .card-image-name {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .card-image {
    width: 100%;
    height: 100%;
    margin: 20px auto;
    text-align: center;

    .image-card {
      width: 100%;
      height: 250px;
      border-radius: 2px;
    }

    p {
      line-height: 20px;
      margin-bottom: 20px;
      text-align: left;
      font-size: 0.8rem;
    }
  }
}


///////////////////////////////////
///// Footer
/////////////////////////////////// 
#footer {
  .footer-container {
    color: $cuisinero-white;
    background-color: $cuisinero-black-dark;
    bottom: 0;
    width: 100%;
    height: 320px;

    hr {
      color: $gray;
      width: 90%;
      margin: 10px auto;
    }

    .footer-header {
      display: flex;

      .footer-logo {
        font-size: 40px;
        margin: 0 auto;
        color: $cuisinero-yellow-dark;
        letter-spacing: 3px;
        padding: 25px 0;
      }

      .footer-nav {
        display: none;
      }
      
      ul li {
        list-style-type: none;
        display: inline-block;
      }
    }

    .footer-devs {
      color: $cuisinero-yellow-light;
      width: 305px;
      margin: 50px auto;
      text-align: center;
      line-height: 26px;
      
      ul li {
        list-style-type: none;
        display: inline-block;
      }
    }

    .footer-disclaimer {
      color: $cuisinero-white;
      font-style: italic;
      padding: 10px;
      bottom: 0;
      width: 100%;
      text-align: center;
      display: block;
    }
  }
}
