/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

///////////////////////////////////
///// Imports
///////////////////////////////////
@import "./objects/variables";
@import "./objects/responsive.scss";
@import "materialize";

// HTML Elements

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  width: 100%;
  //height: 100vh;
  flex-direction: column;
  color: $cuisinero-black-dark;
  font-family: $lato !important;
}

main {
  flex: 1 0 auto;
}

select {
  opacity: 1;
}

h3 {
  margin-bottom: 15px;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1.3px;
}

p {
  font-size: 0.95rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: $cuisinero-black-light;
}

.dot {
  height: 4px;
  width: 4px;
  background-color: $cuisinero-yellow-light;
  border-radius: 50%;
  display: inline-block;
  margin: 4px 3px;
}

// Text Color
.text-white {
  color: $cuisinero-white;
}

.text-yellow-dark {
  color: $cuisinero-yellow-dark;
}

.text-yellow-light {
  color: $cuisinero-yellow-light;
}

.text-black-dark {
  color: $cuisinero-black-dark;
}

.text-black-light {
  color: $cuisinero-black-light;
}

.text-green {
  color: $cuisinero-green !important;
}

.text-red {
  color: $cuisinero-red !important;
}

.text-blue-grey {
  color: $cuisinero-blue-grey !important;
}

// Text Style

.text-bold {
  font-weight: bold !important;
}

.text-bolder {
  font-weight: bolder;
}

.text-italic {
  font-style: italic;
}

.text-space-sm {
  letter-spacing: calc(0.25vw);
}

// Button font size

.btn-large {
  font-size: calc(5px + 2vmin) !important;
}

.btn-small {
  font-size: calc(2px + 2vmin) !important;
}

// Button Colors

.btn-yellow-dark {
  background-color: #FAAF12;
  color: $cuisinero-white-med !important;
  text-transform: capitalize;

  &:hover {
    background-color: $cuisinero-yellow-dark;
    transition: background-color 0.2s ease-out;
  }

  &:focus {
    background-color: #FAAF12;
    transition: background-color .2s ease-out;
  }
}

.btn-black-dark {
  background-color: $cuisinero-black-dark;
  color: $cuisinero-white !important;
  text-transform: capitalize;
  
  &:hover {
    background-color: $cuisinero-black-light;
    transition: background-color .2s ease-out;
  }

  &:focus {
    background-color: $cuisinero-black-dark;
    transition: background-color .2s ease-out;
  }
}

.btn-green {
  background-color: $cuisinero-green;
  color: $cuisinero-white !important;
  
  &:hover {
    background-color: #1D8F46;
    transition: background-color .2s ease-out;
  }
  
  &:focus {
    background-color: $cuisinero-green;
    transition: background-color .2s ease-out;
  }
}

.btn-red {
  background-color: $cuisinero-red;
  color: $cuisinero-white !important;
  
  &:hover {
    background-color: #DB2739;
    transition: background-color .2s ease-out;
  }
  
  &:focus {
    background-color: $cuisinero-red;
    transition: background-color .2s ease-out;
  }
}

///////////////////////////////////
///// Banner
///////////////////////////////////
.banner {
  width: 100%;
  height: 100vh;
  background-image: image-url('bg-home-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(2px);
  text-align: center;

    h2 {
      color: $cuisinero-yellow-light;
      font-size: 1.4rem;
      margin: 0 auto;
      max-width: 280px;
      padding: 100px 0 10px 0;
      letter-spacing: 2px;
      line-height: 30px;
    }

    h4 {
      font-size: 1.3rem;
      font-style: italic;
      font-weight: 200;
      color: $cuisinero-white;
    }

    .home-dropdown {
      opacity: 1;
      width: 100%;
      max-width: 300px;
      margin-top: 25px;
    }

    .home-btn {
      background-color: $cuisinero-yellow-dark;
      color: $cuisinero-white;
      font-size: 1.3rem;
      text-decoration: none;
      padding: 13px 65px;
      border-radius: 3px;
      margin-top: 100px;
    }

  //////////////////////////////////////
  /// Breakpoints: Banner
  //////////////////////////////////////
  @include respond-to('medium') {
    h2 {
      font-size: 2.3rem;
      max-width: 600px;
      line-height: 50px;
    }
  }

  @include respond-to('large') {
    h2 {
      font-size: 4.0rem;
      max-width: 1200px;
      line-height: 90px;
      padding-top: 200px;
    }

    h4 {
      font-size: 2.7rem;
      letter-spacing: 2px;
    }
  }
}


///////////////////////////////////
///// Cards
///////////////////////////////////
.card-container-1 {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

    h3 {
      font-size: 1.8rem;
      font-weight: 700;
      width: 100%;
    }
  
  //////////////////////////////////////
  /// Breakpoints: Cards
  //////////////////////////////////////
  @include respond-to('medium') {

    h3 {
      max-width: 480px;
      line-height: 35px;
    }

    p {
      font-size: 1.1rem;
    }
  }

  @include respond-to('large') {
    padding: 50px 0 200px 0;

    h3 {
      font-size: 3rem;
      line-height: 60px;  
      max-width: 100%;
    }

    p {
      font-size: 1.5rem;
    }
  }
}


//////////////////////////////////////
///  Card Image
//////////////////////////////////////
.card-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 20px;

  h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .card-image-name {
    font-size: 1.7rem;
    margin-bottom: 15px;
    font-weight: 600;
  }

  .card-image {
    width: 100%;
    height: 100%;
    margin: 20px auto;
    text-align: center;

    .image-card {
      width: 100%;
      height: 250px;
      border-radius: 2px;
    }


    p {
      line-height: 20px;
      margin-bottom: 20px;
      text-align: left;
      font-size: 0.9rem;
      max-width: 345px;
    }
  }

  //////////////////////////////////////
  /// Breakpoints: Card Image
  //////////////////////////////////////
  @include respond-to('medium') {
    h3 {
      font-size: 2.3rem;
      line-height: 40px;
    }

    p {
      font-size: 1.2rem;
    }

    .card-image {
      max-width: 360px;

      p {
        margin: 0 auto 20px auto;
        font-size: 1.1rem;
        max-width: 346px;
        line-height: 25px;
      }

      .image-card {
        border-radius: 6px;
      }
    }
  }

  @include respond-to('large') {
    padding: 100px 20px;

    .card-image-header {
      margin-bottom: 100px;
    }

    .card-img,
    .card-img-2 {
      display: flex;
      flex-direction: row;
      max-width: 70%;
      align-items: center;
      text-align: left;

      .image-card {
        width: 400px;
        height: 300px;
      }

      .card-image-body {
        width: 100%;
        max-width: 600px;
        padding: 0 70px;
      }

      .card-image-name {
        font-size: 2.7rem;
      }

      .card-image-text {
        text-align: left;
        font-size: 1.3rem;
        margin-bottom: 26px;
      }


    }

    .card-img-2 {
      flex-direction: row-reverse;
    }
  }

}

///////////////////////////////////
///// Footer
///////////////////////////////////
#footer {
  .footer-container {
    color: $cuisinero-white;
    background-color: $cuisinero-black-dark;
    bottom: 0;
    width: 100%;
    height: 320px;

    hr {
      color: $gray;
      width: 90%;
      margin: 10px auto;
    }

    .footer-header {
      display: flex;

      .footer-logo {
        font-size: 40px;
        margin: 0 auto;
        color: $cuisinero-yellow-dark;
        letter-spacing: 3px;
        padding: 25px 0;
      }

      .footer-nav {
        display: none;
      }

      ul li {
        list-style-type: none;
        display: inline-block;
      }
    }

    .footer-devs {
      color: $cuisinero-yellow-light;
      width: 305px;
      margin: 50px auto;
      text-align: center;
      line-height: 26px;

      ul li {
        list-style-type: none;
        display: inline-block;
      }
    }

    .footer-disclaimer {
      color: $cuisinero-white;
      font-style: italic;
      padding: 10px;
      bottom: 0;
      width: 100%;
      text-align: center;
      display: block;
    }

    //////////////////////////////////////
    /// Breakpoints: Footer
    //////////////////////////////////////
    @include respond-to('medium') {
      
      .footer-header {
        align-items: center;
        justify-content: space-around;

        .footer-logo {
          margin: 0;
        }

        .footer-nav {
          display: block;
        }

        ul li {
          margin: 0 20px;
          font-style: italic;
          font-size: 1.2rem;
        }
      }
      
      .footer-devs {
        font-size: 1.2rem;
        width: 335px;
      }
    }

    @include respond-to('large') {

      .footer-disclaimer {
        font-size: 1rem;
        padding: 0;
        height: 0;
      }
    }
  }
}
