// Place all the styles related to the Chefs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'application';

.header-with-btn {
  display: flex;
  flex-direction: row;
  padding: 0 calc(5px + 2vw);

  .modal-trigger {
    color: $cuisinero-green !important;
  
    .material-icons {
      font-size: calc(30px + 5vmin) !important;
      line-height: 0.5 !important;
    }
  }
}

.gallery-container {
  background-color: #FAFAFA;
  width: 98vw;
  //height: auto;
  min-height: 50vh;
  margin: calc(5px + 4vmin) 0;
  padding: calc(5px + 2vmin);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .image-container {
    background-color: $cuisinero-black-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vmin;
    height: 60vmin;
    margin: 20px;

    .delete-container {
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
      height: auto;
      z-index: 2;

      .material-icons {
        color: $cuisinero-white !important;
	font-size: calc(20px + 2vw) !important;
      }
    }

    .image-frame {
      // background-color: $cuisinero-yellow-dark; 
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60vmin;
      height: 60vmin;
      overflow: hidden;

      img {
	width: 100%;
	// height: 100%;
      }
    }
  }
}


.image-carousel {
  background-color: $cuisinero-black-dark; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60vmin;
  height: 60vmin;
  overflow: hidden;

  img {
    // width: 100%;
    height: 60vmin;
  }
}

.collection-item {
  width: calc(20px + 50vw) !important;
  display: block !important;
}
