@import 'application';

.page-footer {
  background-color: $cuisinero-black-light !important;

  .footer-copyright {
    background-color: $cuisinero-black-dark !important;
    
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-style: italic;
    }
  }

  .text-italic {
    font-style: italic;
  }

  .footer-text-white {
    color: $cuisinero-white;
  }

  .footer-text-yellow-dark {
    font-size: 30px;
    color: $cuisinero-yellow-dark;
  }

  .footer-text-yellow-light {
    color: $cuisinero-yellow-light;  
  }
}
