<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="footer-text-white text-italic">© 2022 <span class="footer-text-yellow-dark">Cuisinero</span></h5>
        
        <ul>
          <li><a class="footer-text-white" href="#!">About us</a></li>
          <li><a class="footer-text-white" href="#!">FAQ</a></li>
          <li><a class="footer-text-white" href="#!">Contact us</a></li>
          <li><a class="footer-text-white" href="#!">More apps like this</a></li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="footer-text-white text-italic">The Developers:</h5>
        <ul>
          <li><a class="footer-text-yellow-light" href="#!">Ralph Sulit</a></li>
          <li><a class="footer-text-yellow-light" href="#!">John Carlo Martinez</a></li>
          <li><a class="footer-text-yellow-light" href="#!">Julie Mae Villanueva</a></li>
          <li><a class="footer-text-yellow-light" href="#!">Thea Kaylee Libunao</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Disclaimer: This app is created for educational purposes only.
    </div>
  </div>
</footer>
